# requirements.txt (Phiên bản cuối)

torch
transformers>=4.18.0
sentencepiece
pandas
numpy
scikit-learn
streamlit
plotly
seaborn
matplotlib
# API
fastapi
uvicorn[standard]
pydantic
# Gọi API bên ngoài
requests # Để Streamlit gọi FastAPI
# Gemini API
google-generativeai
# Đọc file .env
python-dotenv
# Tăng tốc training/inference
accelerate